body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.error-mesage {
  color: red;
  text-align: center;
  margin: auto;
}
.color {
  color: aliceblue;
}
/* drop down */
.dropbtn {
  background-color: #ff6f61;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  width: 100%;
  margin-top: 1rem;
  border: 1px;
  border-radius: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:black;
}
/*form loading*/
.isloading {
  display: block;
  width: 100%;
  height: 40rem;
  color: red;
  text-align: center;
  font-size: 2rem;
}
/* end form loading*/
.dangnhap {
  text-align: center;
  font-size: 2rem;
  height:25rem;
  width: 100%;
  color: red;
}
/* product item */
.product-item{
  margin: 1rem;
  border-radius: 1rem;
}

.title {
  color: #ff6f61;
}
.inputdisable{
  color: #ff6f61;
}

.tab-content .tab-pane .article-head h1 {
  display: block;
  font-size: 36px;
  color: #333333;
  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.tab-content .tab-pane img {
  vertical-align: middle;
}

.synopsis-content {
    margin-top: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-post {
    position: relative;
    padding: 40px;
    -webkit-box-shadow: 0 1px 10px rgb(0 0 0 / 50%);
    box-shadow: 0 1px 10px rgb(0 0 0 / 50%);
    background-color: #fff;
    margin-top: -80px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.97);
}

img, iframe {
  max-width: 100%;
}